<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178026281517-m46vra21ro8vk9grae7f53son1cmdtpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178026281517-m46vra21ro8vk9grae7f53son1cmdtpd</string>
	<key>API_KEY</key>
	<string>AIzaSyCuLlBJHir7yIk1q0Lp6VBSs7IpAMBDIus</string>
	<key>GCM_SENDER_ID</key>
	<string>178026281517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skoolearn.app</string>
	<key>PROJECT_ID</key>
	<string>skoolearn-5f69b</string>
	<key>STORAGE_BUCKET</key>
	<string>skoolearn-5f69b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178026281517:ios:f5a58bd7230dc30aba96a4</string>
</dict>
</plist>